**/__X_*/
**/__X_*/*

**/*.pyc
**/.DS_Store*

**/.git*/
**/.git*/*

**/python-packages/**/.ipynb_checkpoints/*
**/python-packages/**/.ipynb_checkpoints/

**/build/*
**/build/
**/dist/*
**/dist/
**/*.egg*
